{
  darwinConfigName = "your-darwin-config-name";
  userName = "your-user-name";
  homeDirectory = "/Users/your-user-name";
  dotfilesRoot = "/Users/your-user-name/dev/github.com/your-account/dotfiles";
}
