*.local.*
!git/config.local.example
git/config.local
.DS_Store
fish/fish_variables
nix/result
.nvimlog

# Keep only README and example under nix-dev-env-flake
nix-dev-env-flake/*
!nix-dev-env-flake/README*
!nix-dev-env-flake/example/
